
    <div class = "page-header">
      <div class = "pull-right">
        <%= link_to 'New Task', new_project_task_path, class: "btn btn-info" %>
      </div>
      <h1>Tasks</h1>
    </div>

    <table class = "table">
        <thead>
        <tr>
          <div class = "col-sm-1">
            <th>Description</th>
          </div>
          <div class = "col-sm-3">
          <th>Due On</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
        <tr>
          <% if task.complete %>
              <td class = "col-sm-3"><s><%= link_to task.description, project_task_path( @project, task) %></s></td>
          <% else %>
              <td><%= link_to task.description, project_task_path( @project, task) %></td>
          <% end %>
              <td><% if task.date %>
                    <%= task.date.strftime("%m/%d/%Y") %>
                    <% end %>
              </td>

             <td>
          <div class = "pull-right">
            <%= link_to 'Edit', edit_project_task_path(@project, task), class: "btn btn-info" %>
            <%= link_to "Delete", project_task_path(@project, task), method: :delete, class: "btn btn-danger" %>
          </div>
         </td>
        </tr>
        <% end %>
      </tbody>
    </table>
