
<div class = "page-header">
  <%= link_to 'Edit', edit_project_task_path(@project.id, @task[:id]), class: "btn btn-info pull-right" %>


  <% if @task.complete == true %>
    <h1><s><%= @task.description %></s></h1>
      <% else %>
      <h1><%= @task.description %></h1>
      <% end %>
</div>
<div class="form-horizontal">
  <ol class="breadcrumb">
    <li><%= link_to "Projects", projects_path%></li>
    <li><%= link_to "Tasks", project_tasks_path( @project )%></li>
    <li class="active"><%= @task.description %></li>
  </ol>
</div>
<p><% if @task.date %></p>
      <strong>Due On:</strong>
      <%= @task.date.strftime("%m/%d/%Y") %>
      <% end %>

<% @task.comments.each do |comment| %>
  <%= link_to comment.user.full_name, user_path(comment.user) %>
  <%= time_ago_in_words(comment.created_at) + " ago" %>
  <%= comment.content %>
<% end %>

 <%= form_for [@task, @comment] do |f|%>
   <%= f.text_area :content %>
   <%= f.submit "Add Comment" %>
 <% end %>
