
<div class = "page-header">
  <%= link_to 'Edit', edit_project_task_path(@project.id, @task[:id]), class: "btn btn-info pull-right" %>

  <% if @task.complete == true %>
    <h1><s><%= @task.description %></s></h1>
      <% else %>
      <h1><%= @task.description %></h1>
      <% end %>
</div>
<div class="form-horizontal">
  <ol class="breadcrumb">
    <li><%= link_to "Projects", projects_path%></li>
    <li><%= link_to "Tasks", project_tasks_path( @project )%></li>
    <li class="active"><%= @task.description %></li>
  </ol>
</div>
<p><% if @task.date %></p>
      <strong>Due On:</strong>
      <%= @task.date.strftime("%m/%d/%Y") %>
      <% end %>
