

<% if notice %>
 <p class="alert alert-success" role="alert"><%= notice %></p>
 <% end %>

<div class = "page-header">
  <%= link_to 'Edit', edit_task_path(@task[:id]), class: "btn btn-info pull-right" %>

  <% if @task.complete == true %>
    <s><h1><%= @task.description %></h1></s>

      <% else %>
      <h1><%= @task.description %></h1>
      <% end %>
</div>
<div class="form-horizontal">
  <ol class="breadcrumb">
    <li><%= link_to "Tasks", tasks_path %></li>
    <li class="active"><%= link_to @task.description %></li>
  </ol>
</div>
