<div class= "page-header">
  <div class="pull-right">
    <% if Membership.where(project_id: @project.id).include?(current_user.memberships.find_by(role: 1)) || current_user.admin %>
      <%= link_to 'Edit', edit_project_path(@project), class:"btn btn-info" %>
    <% end %>
  </div>
  <h1>
    <%= @project.name %>
  </h1>
</div>

<ol class="breadcrumb">
  <li><%= link_to 'Projects', projects_path %></li>
  <li><%= @project.name %></li>
</ol>
  <%= link_to pluralize(@project.tasks.count, 'Task') , project_tasks_path(@project) %>

<div>
  <%= link_to pluralize(@project.memberships.count, 'Membership') , project_memberships_path(@project) %>
</div>
<br>
<% if Membership.where(project_id: @project.id).include?(current_user.memberships.find_by(role: 1)) || current_user.admin %>
  <div class = "well">
    <h3>Delete Project</h3>
    <%= "Deleting this project will delete #{pluralize(@project.memberships.count, 'membership')}, #{pluralize(@project.tasks.count, 'task')} and associated comments." %>
    <br><br>
    <div>
      <%= link_to 'Delete', project_path,method: :delete, data: {confirm: "Are you sure?"},class:"btn btn-danger" %>
    </div>
  </div>
<% end %>
